.about-page-main {
  .aboutRow {
    padding: 0 1rem;
    > .row {
      align-items: start;
      > div {
        &:first-child {
          padding-left: 1.5rem;
          h1 {
            font-size: 5vw;
            font-weight: 600;
            font-family: "Poppins";
            padding: 1rem 0 0 0;
            text-align: start;
          }
          p {
            font-weight: 300;
            font-size: 1.3rem;
            line-height: 1.5;
            position: relative;
            color: rgb(51, 51, 51);
            &::after {
              content: "";
              position: absolute;
              bottom: -1.8rem;
              left: 0.1rem;
              height: 0.2rem;
              width: 30%;
              background-color: rgb(63, 63, 63);
              border-radius: 4rem;
            }
          }
        }
      }
    }
  }
  .about-Page-right {
    position: relative;
    overflow: hidden;
    &::before {
      width: 100%;
      height: 100%;
      background-color: rgba(242, 134, 134, 0);
      position: absolute;
      right: 0;
      top: 0rem;
      content: "";
      z-index: 1;
    }
    iframe {
      width: 100%;
      height: 30rem;
      position: relative;
    }
  }
  .aboutCta {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    margin-top: 5rem;
    border-radius: 0 0 2rem 2rem;
    padding: 3rem 0;
    position: relative;
    z-index: 10;
    margin-bottom: -3rem;
    .row {
      align-items: center;
      justify-content: center;
      .col-12 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1 {
          font-size: 3rem;
          font-weight: 700;
          color: white;
          width: 70%;
          margin-bottom: 2rem;
        }
        a {
          background-color: white;
          color: black;
          padding: 1rem 2rem;
          font-weight: 400;
          transition: 0.3s;
          &:hover {
            background-color: rgb(0, 0, 0);
            padding: 1rem 2rem;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
  .aboutVision {
    .row {
      .vision-btnDiv span {
        color: rgb(51, 51, 51);
        padding: 1rem 1rem;
        font-weight: 600;
        background: transparent;
        font-size: 5vw;
        width: 70%;
        text-align: start;
      }
      h2 {
        text-align: start;
        width: 80%;
        font-size: 1.7vw;
        line-height: 2.2vw;
        font-weight: 400;
        color: rgb(51, 51, 51);
      }
      .careerAbout .careerBox {
        background-color: #ffceb8;
        border-radius: 5px;
        text-align: center;
        padding: 1.5rem 6rem;
        .careerButton {
          h2 {
            font-size: 2rem;
            font-weight: 600;
            color: black;
          }
          a {
            font-size: 1rem;
            font-weight: 400;
            width: 100%;
            display: block;
            text-align: start;
          }
        }
      }
      .vision-btnDiv {
        span {
          color: rgb(51, 51, 51);
          padding: 1rem 1rem;
          font-weight: 600;
          background: transparent;
          font-size: 5vw;
          width: 70%;
          text-align: start;
        }
      }
    }
  }
  .ourTeam {
    margin: 6rem 0 0rem 0rem;
    text-align: center;
    h2 {
      font-size: 5vw;
      font-weight: 600;
    }
    .row {
      margin-top: 3rem;
      > div {
        > div {
          border: 1px solid rgb(240, 240, 240);
          padding: 0rem 0 2rem 0;
          transition: 0.3s;
          border-radius: 5px;
          overflow: hidden;
          &:hover {
            box-shadow: 0px 0px 20px -10px gray;
            img {
              scale: 1.05;
            }
          }
          h4 {
            font-weight: 600;
          }
          font-size: 0.8vw;
          img {
            width: 100%;
            margin-bottom: 1rem;
            transition: 1s;
          }
        }
      }
    }
  }
}
