.thank-you-page-main {
  width: 100%;
  height: 90vh;
  background-color: white;
  border-radius: 0 0 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  .col-12 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h4 {
      font-size: 3rem;
      font-weight: 600;
      margin: 1rem 0;
      font-family: "Lato";
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: "Lato";
    }
  }
}

@media (max-width: 720px) {
  .thank-you-page-main {
    width: 100%;
    height: 80vh;
    background-color: white;
    border-radius: 0 0 30px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 98%;
      height: auto;
      object-fit: cover;
    }
    .col-12 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h4 {
        font-size: 3rem;
        font-weight: 600;
        margin: 1rem 0;
        font-family: "Lato";
      }
      p {
        font-size: 1.25rem;
        font-weight: 400;
        font-family: "Lato";
        text-align: center;
        line-height: 30px !important;
        padding: 0 2rem;
      }
    }
  }
}
