/* ================= WORK PAGE ================= */

.work-main-page {
  background-color: white;
  margin: -2rem 0 -3.25rem 0 !important;
  padding: 3rem 0 5rem 0 !important;
  box-shadow: 0px 5px 10px -5px gray;
  position: relative;
  border-radius: 0 0 30px 30px;
  z-index: 1;
  .bs-container {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    p {
      font-size: 14px;
      font-weight: 400;
      color: #535353;
    }
    margin-bottom: 1.5rem !important;
  }
  h1 {
    text-align: start;
    padding: 1rem 0 0;
    font-family: "Lato";
    font-size: 2.5rem;
    font-weight: 600;
    position: relative;
  }
}

.work-main-page .container-2 {
  .row {
    row-gap: 1rem;
    justify-content: space-between;
    > div {
      padding: 0;
      width: 32%;
    }
  }
}

/* Container spacing */
.work-main-page .bs-container {
  padding: 0;
}

.work-main-page .bs-container .row {
  row-gap: 5rem;
}

/* ================= WORK CARD ================= */

.work-card .img-div {
  border-radius: 10px;
  overflow: hidden;
}

.work-card .img-div img {
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.work-card .img-div img:hover {
  transform: scale(1.025);
}

.work-card .desc {
  font-size: 14px;
  color: rgb(81, 81, 81);
  margin: 0;
}

.work-card .title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 10px;
}

.work-card .work-tags span {
  margin-right: 10px;
  background-color: rgb(6, 6, 6);
  color: white;
  padding: 5px 10px;
  border-radius: 5rem;
}

.work-card .work-tags {
  margin-top: 1rem;
}

@media (max-width: 720px) {
  .work-main-page {
    padding: 10px !important;
    margin-top: 0px !important;
    .container-2 {
      .row {
        justify-content: space-between;
        padding-bottom: 2rem;

        > div {
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .work-main-page .bs-container {
    margin-top: 0 !important;
  }
}
