.work-main-page {
  box-shadow: 0px 50px 50px -45px gray;
  padding-bottom: 1rem;
  /* margin-bottom: 1rem; */
  position: relative;
  z-index: 4;
  .accordion-body {
    visibility: visible;
  }
  .bs-container {
    padding: 0 1rem;
    .row {
      div {
        padding-left: 1.5rem;
        h1 {
          font-size: 5vw;
          font-weight: 600;
          font-family: "Poppins";
          padding: 1rem 0 0 0;
          text-align: start;
        }
        p {
          font-weight: 300;
          font-size: 1.3rem;
          line-height: 1.5;
          position: relative;
          color: rgb(51, 51, 51);
          &::after {
            content: "";
            position: absolute;
            bottom: -1.8rem;
            left: 0.1rem;
            height: 0.2rem;
            width: 30%;
            background-color: rgb(63, 63, 63);
            border-radius: 4rem;
          }
        }
      }
    }
  }
  .work-accordian-section {
    padding: 0 1rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 10;
    margin-bottom: -3rem;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 10px 10px -8px gray;
    background-color: white;
    .row {
      padding: 0 0.5rem;
      > div {
        .accordion-item {
          border: none;
          .accordion-header {
            border: none !important;
            outline: none !important;
            box-shadow: unset;
            .accordion-button {
              border-radius: 5px;
              border: none !important;
              outline: none !important;
              color: rgb(54, 54, 54) !important;
              box-shadow: unset;
              background-color: rgba(255, 255, 255, 0) !important;
              padding: 1rem 0 !important;
              font-size: 1.75rem;
              border-bottom: 2px solid rgb(228, 224, 224) !important;
              font-family: "Poppins";
              font-weight: 300;
            }
          }
          .accordion-body {
            text-align: start;
            border: none;
            outline: none;
            text-decoration: none;
            font-weight: 300;
            opacity: 0.85;
            font-size: 0.85rem !important;
            line-height: 1.5;
            padding: 0;
            .container-fluid {
              margin: 0 !important;
              padding: 0 !important;
              h3 {
                color: rgb(0, 0, 0);
                font-size: 1.75rem;
                font-weight: 500;
              }
              h5 {
                font-family: "Poppins";
                font-weight: 400;
                font-size: 1.1rem;
                line-height: 1.5;
              }
              .buttonBox {
                display: flex;
                gap: 1rem;
                .first {
                  background-color: rgb(0, 0, 0);
                  color: white;
                  border: 1px solid white;
                  padding: 0.2rem 1.4rem;
                  border-radius: 29px;
                  font-weight: 400;
                  font-family: "Poppins";
                }
              }
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
