.work-main-page {
  .last-section-of-every-page {
    .container {
      .row {
        row-gap: 2rem;
      }
    }
  }
  .accordion-body {
    visibility: visible;
  }
  .bs-container {
    padding: 0 0rem;
    .row {
      > div {
        padding: 0;
      }
      div {
        padding-left: 0rem;

        h1 {
          font-size: 5vw;
          font-weight: 600;
          padding: 1rem 0 0 0;
          text-align: start;
        }
        p {
          color: #535353;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: -1.8rem;
            left: 0.1rem;
            height: 0.2rem;
            width: 30%;
            background-color: rgb(63, 63, 63);
            border-radius: 4rem;
          }
        }
      }
    }
  }

  .last-section-of-every-page {
    background-color: rgb(255, 255, 255);
    margin: 0 0 -3rem 0 !important;
    padding: 0;
    padding: 0 0rem 2rem 0 !important;
    box-shadow: 0px 5px 10px -5px gray;
    position: relative;
    border-radius: 0 0 30px 30px;
    z-index: 1;

    h2 {
      font-size: 3vw;
      font-weight: 600;
      margin: 5rem 0 -0.5rem;
    }
  }

  .work-accordian-section {
    padding: 0 0rem;
    margin-bottom: 5rem;
    position: relative;
    z-index: 10;
    margin-bottom: -3rem;
    border-radius: 0 0 30px 30px;
    background-color: white;
    .row {
      padding: 0 0rem;
      > div {
        padding: 0;
        .accordion-item {
          border: none;
          .accordion-header {
            border: none !important;
            outline: none !important;
            box-shadow: unset;
            .accordion-button {
              border-radius: 5px;
              border: none !important;
              outline: none !important;
              color: rgb(54, 54, 54) !important;
              box-shadow: unset;
              background-color: rgba(255, 255, 255, 0) !important;
              padding: 1rem 0 !important;
              font-size: 1.75rem;
              border-bottom: 2px solid rgb(228, 224, 224) !important;
              font-weight: 300;
            }
          }
          .accordion-body {
            text-align: start;
            border: none;
            outline: none;
            text-decoration: none;
            font-weight: 300;
            opacity: 0.85;
            font-size: 0.85rem !important;
            line-height: 1.5;
            padding: 0;
            .container {
              margin: 0 !important;
              padding: 0 !important;
              h3 {
                color: rgb(0, 0, 0);
                font-size: 1.75rem;
                font-weight: 500;
              }
              h5 {
                font-weight: 400;
                font-size: 1.1rem;
                line-height: 1.5;
              }
              .buttonBox {
                display: flex;
                gap: 1rem;
                .first {
                  background-color: rgb(0, 0, 0);
                  color: white;
                  border: 1px solid white;
                  padding: 0.2rem 1.4rem;
                  border-radius: 29px;
                  font-weight: 400;
                }
              }
              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}
.work-card {
  .img-div {
    border-radius: 10px;

    overflow: hidden;
    img {
      border-radius: 10px;
      transition: 0.5s;
      &:hover {
        scale: 1.025;
      }
    }
  }
  .desc {
    font-size: 14px;
    color: rgb(81, 81, 81);
  }
  .title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 10px;
  }
  .work-tags {
    span {
      margin-right: 10px;
      background-color: rgb(6, 6, 6);
      color: white;
      padding: 5px 10px;
      border-radius: 2px;
    }
  }
}
