@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}
a {
  text-decoration: none;
  color: black;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

span,
p,
li,
a,
button,
input,
textarea,
select {
  font-family: "Poppins", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}
.home-page-main {
  position: relative;
  z-index: 4;
  background-color: white;
  padding: 0;
  box-shadow: 0px 10px 10px -7px gray;
  border-radius: 0 0 30px 30px;
  margin-bottom: -3rem;
}
.row-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.parent-fo-header {
  box-shadow: 0px -65px 10px 30px black;
  border-radius: 2rem 2rem 0 0;
  margin-top: 2.5rem !important ;
  position: relative;
  transition: 0.3s !important;
  .contact-button-header {
    color: #fff;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 1px;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
      border: 2px solid #000;
    }
  }
  .para-div {
    background: transparent;
    text-align: center;
    color: white;
    padding: 5px;
    position: absolute;
    z-index: 10;
    left: 0;
    top: -2.25rem;
    width: 100%;
  }
  header {
    /* img {
      width: 40%;
    } */
    .para-div {
      z-index: 500;
      background: transparent;
      .p-tag {
        padding: 5px;
      }
    }
    .container {
      padding: 0;
      border-radius: 2rem 2rem 0px 0px;
      background-color: white;
      position: relative;
      z-index: 5;
      > div {
        justify-content: space-between;
        align-items: center;
        padding: 10px 2rem;

        > div {
          &:last-child {
            text-align: end;
            i {
              font-size: 2.5rem;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
      .row-div {
        padding-top: 2rem;
        align-items: center;
        padding-left: 0rem;
        padding-right: 0rem;
        .logo-div {
          width: 20%;
          img {
            width: 75%;
          }
        }
        .menu-div {
          width: 80%;
          nav {
            #drop-down-li-item {
              overflow: unset !important;
              &:hover {
                span {
                  transform: rotate(90deg) !important;
                }
              }
            }
            > ul {
              display: flex;
              align-items: center;
              justify-content: end;
              margin: 0;
              gap: 3rem;

              > li {
                text-transform: uppercase;
                font-weight: 500;
                padding: 10px 0;

                .inner-ul-dropdown {
                  overflow-x: clip;
                  opacity: 0;
                  visibility: hidden;
                  transition: 0.3s;
                  text-align: start;
                  position: absolute;
                  width: 75vw;
                  left: 4vw;
                  top: 6rem;
                  padding: 2rem 1rem;
                  z-index: 55;
                  height: 20rem;
                  display: flex;
                  align-items: center;
                  justify-content: start;
                  transform: translateY(-5%);
                  border: 1px solid rgba(128, 128, 128, 0.281);
                  border-radius: 10px;
                  box-shadow: 0px 2px 10px -5px gray;
                  /* Heading div */
                  .main-heading {
                    width: 30%;
                    height: 100%;
                    padding: 0;
                    h4 {
                      padding: 10px;
                      margin: 0.5rem 0;
                      border-radius: 5px;
                      font-weight: 700;
                      cursor: pointer;
                      transition: 0.3s !important;
                    }
                  }
                  /* Middle List Div */

                  .list-div-main-div {
                    width: 35%;
                    position: relative;
                    height: 100%;
                    overflow: hidden;
                    > div {
                      display: flex;
                      flex-direction: column;
                      align-items: start;
                      justify-content: start;
                      padding: 1rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      width: 90%;
                      background-color: rgb(255, 255, 255);
                      padding: 1.75rem 0 2rem 0;
                      padding-left: 5%;
                      transform: translateX(10%);

                      a {
                        padding: 3px;
                        margin: 3px;
                        color: gray;
                        border: 1px solid rgb(255, 255, 255);
                        padding: 2px 10px;
                        text-transform: capitalize;
                        border-radius: 5px;
                        transition: 0.3s all;
                        &:hover {
                          color: black;
                          border: 1px solid rgb(232, 232, 232);
                        }
                      }
                    }
                    .sublist-div-1 {
                      z-index: 3;
                      opacity: 0;
                    }
                    .sublist-div-2 {
                      z-index: 2;
                      opacity: 0;
                    }
                    .sublist-div-3 {
                      z-index: 1;
                    }
                  }
                  /* right ima  ge div */
                  .image-div {
                    width: 35%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    img {
                      width: 100%;
                      transform: scale(1); /* Scale up for a zoom effect */
                      object-fit: cover; /* Maintain aspect ratio and cover container */
                      transition: 0.5s ease; /* Smooth opacity and scaling */
                      border-radius: 10px;
                      box-shadow: 0px 2px 20px -8px gray;
                    }
                  }
                }
                &:hover {
                  .inner-ul-dropdown {
                    background-color: white;
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0%);
                  }
                }
                i {
                  font-size: 16px;
                }
                a {
                  text-transform: uppercase;
                }
              }
            }
          }
          .phone-menu-div {
            background-color: rgb(255, 255, 255);
            width: 95vw;
            height: 100vh;
            overflow-x: hidden;
            overflow-y: auto;
            position: fixed;
            left: 0;
            top: 0rem !important;
            z-index: 999;
            box-shadow: 0px 0px 10px 0px gray;
            display: flex;
            align-items: start;
            justify-content: start;
            padding: 0 1rem;
            flex-direction: column;
            gap: 1rem;
            padding-top: 4rem;
            transform: translateX(-110%);
            transition: 0.3s;
            img {
              width: 45%;
            }

            .row {
              > div {
                padding: 0;
              }
            }

            .cross-icon {
              position: absolute;
              right: 1.5rem;
              top: 1rem;
              z-index: 55555;
              color: rgb(255, 255, 255);
              font-size: 2rem;
              display: block;
              background-color: black;
              padding: 2px 9px;
              border-radius: 50rem;
            }
            .inner-div {
              width: 100%;
              position: relative;
              padding: 0 !important;
              .row {
                > div {
                  width: 100%;
                  .accordion {
                    box-shadow: unset;
                    border: none;
                  }
                  .accordion-header {
                    box-shadow: unset;
                    border: none;
                  }
                  .accordion-button:not(.collapsed) {
                    box-shadow: unset !important;
                    border: none !important;
                  }
                  .accordion-item:last-of-type
                    > .accordion-header
                    .accordion-button.collapsed {
                    box-shadow: unset !important;
                    border: none !important;
                    font-size: 1.25rem;
                    font-weight: 600;
                  }
                  .accordion-item {
                    box-shadow: unset;
                    border: none;
                  }
                  .accordion-button:not(.collapsed) {
                    background-color: white;
                    font-size: 1.25rem;
                    font-weight: 600;
                    border-bottom: 1px solid rgb(192, 192, 192) !important;
                    color: black;
                  }
                  .accordion-body {
                    visibility: visible;
                  }
                }
              }
            }
          }
          .ham-menu-icon {
            display: none;
          }
        }
      }
    }
  }
}

.flair {
  width: 20px;
  height: 20px;
  position: fixed;
  left: 0;
  top: 0;
  border-radius: 50%;
  z-index: 2000;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: white;
  transition: width 0.1s, height 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0s;
  /* display: none; */
}
.home-banner-main-section {
  padding: 0 0rem 0 0rem;
  height: 77vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  .phone-trans {
    display: none;
  }
  a {
    font-size: 1.2rem;
    display: block;
    text-align: center;
    position: relative;
    top: 2rem;
    span {
      border-bottom: 1px solid black;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  .row-div {
    margin-top: 0rem;
    align-items: start;
    justify-content: center;

    h1 {
      font-size: 4vw;
      position: relative;
      width: 100%;
      text-align: start;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      span {
        .strong {
          font-style: italic;
          font-weight: 400;
          border-bottom: 8px solid rgb(255, 149, 149);
          display: inline;
        }
      }
    }
    .trans,
    .brand {
      font-size: 5rem;
      font-weight: 800;
      letter-spacing: 2px;
      margin-left: 10px;
    }
    .with {
      font-size: 5.5rem;
    }
  }
}

.robot-main-file {
  .robo {
    width: 100%;
    .inner {
      width: 100%;
      img {
        width: 100%;
      }
      .head {
        /* filter: drop-shadow(0px 0px 5px rgba(255, 0, 0, 0.56)); */
      }
      .body {
        margin-top: -6px;
        border-radius: 100rem;
      }
    }
  }
}
.work-home-section {
  padding: 10px 0rem !important;
  margin-top: 1rem;
  .add-your-project {
    padding: 10px 20px;
    position: relative;
    top: 1rem;
    border: 1px solid black;
    transition: 0.3s;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  .container-fluid {
    padding: 0;
  }

  .work-heading-home {
    padding: 1rem 0;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;
    }
  }

  h2 {
    font-weight: 500;
    color: black;
    padding-left: 1rem;
    font-size: 5vw;
    margin: 0;
  }
  .btn-span-1 {
    border-radius: 1px;
    background-color: black;
    padding: 1rem 2rem;
    color: white;
    transition: 0.3s;
    border: 2px solid black;
    &:hover {
      background-color: white;
      border: 2px solid black;
      color: black;
    }
  }
  .btn-span-2 {
    border-radius: 50%;
    background-color: black;
    padding: 1rem 1.2rem;
    color: white;
    margin-left: 0px;
    margin-right: 1rem;
  }
  h4 {
    color: #333;
    font-size: 1.25rem;
    font-weight: 400 !important;
    line-height: 1.5;
    margin-top: 1rem;
  }
}

.swiper-main-div {
  margin-top: 2rem;
  .last-slide-of-all {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    flex-direction: column;
    h4 {
      visibility: hidden;
    }
    .inner-div {
      background-color: #0a0a0a;
      border-radius: 1.5rem;
      height: 20rem;
      width: 100%;
      text-align: center;
      padding: 1rem !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center;
    }
    a {
      color: white;
      text-align: center;
      border: 1px solid white;
      padding: 10px 20px;
      margin: 1rem;
    }
  }
  .swiper-slide {
    > h4 {
      text-align: center;
      text-transform: uppercase;
      font-family: "Poppins";
    }
    .inner-div {
      overflow: hidden;
      padding: 0;
      margin: 0;
      display: block;
      border-radius: 1.5rem;
      position: relative;
      p {
        display: flex;
        position: absolute;
        bottom: 0rem;
        left: 1rem;
        gap: 1rem;
        span {
          background-color: black;
          border: 1px solid white;
          color: white;
          font-size: 1vw;
          padding: 0.2rem 1rem;
          border-radius: 5rem;
          font-size: 1vw;
          text-transform: uppercase;
        }
      }

      img {
        transition: 1s !important;
      }
      &:hover {
        img {
          scale: 1.08;
        }
      }
    }
  }
}

.exquisites-home-page {
  margin-top: 2rem;
  padding: 0 1.5rem;

  .heading-div {
    padding: 10px 0px;
    margin-bottom: 0rem;
    h2 {
      font-weight: 500;
      color: black;
      padding-left: 0rem;
      font-size: 5vw;
    }
    .btn-span-1 {
      border-radius: 1px;
      background-color: black;
      padding: 1rem 2rem;
      color: white;
      transition: 0.3s;
      border: 2px solid black;
      &:hover {
        background-color: white;
        border: 2px solid black;
        color: black;
      }
    }
    .btn-span-2 {
      border-radius: 50%;
      background-color: black;
      padding: 1rem 1.2rem;
      color: white;
      margin-left: 0px;
      margin-right: 1rem;
    }
    > h4 {
      color: #333;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  .container {
    padding: 0;
    .row {
      position: relative;
      > div {
        .inner-div {
          background-color: rgba(255, 255, 255, 0.335);
          padding: 50px 20px;
          border-radius: 5px;
          border: 1px solid rgb(239, 239, 239);
          margin-top: 1rem;
          backdrop-filter: blur(15px);
          /* box-shadow: rgba(50, 50, 93, 0) 0px -50px 100px -20px,
          rgba(0, 0, 0, 0.202) 0px -30px 60px -30px; */

          /* box-shadow: 0 0 25px -15px gray; */
          display: block;
          transition: 0.3s;
        }
        ul {
          padding: 0;
          text-align: center;
          line-height: 40px;
          li {
            opacity: 0.6;
            &:first-child {
              display: flex;
              align-items: center;
              justify-content: center;
              opacity: 1;
            }
            &:nth-child(2) {
              opacity: 1;
            }
            h2 {
              padding: 5px 5px;
              border: none;
              font-weight: 600;
              font-size: 2vw;
              color: rgb(0, 0, 0);
              opacity: 1;
            }
            &:first-child {
              margin-bottom: 1rem;
            }
          }
        }
        margin: 0rem 0;
      }
      .first {
        top: 0rem;
        .inner-div {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          color: rgb(0, 0, 0);
          &:hover {
            background-color: rgb(255, 239, 239);
            border: 1px solid rgb(255, 105, 105);
          }
          li {
            h2 {
              border-radius: 5px;
            }
          }
        }
      }
      .second {
        top: 8rem;
        .inner-div {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          color: rgb(0, 0, 0);
          &:hover {
            background-color: rgb(221, 248, 255);
            border: 1px solid rgb(14, 184, 225);
          }
          li {
            h2 {
              border-radius: 5px;
            }
          }
        }
      }
      .third {
        top: 15.25rem;
        .inner-div {
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
          color: rgb(0, 0, 0);
          &:hover {
            background-color: #f9e6ff;
            border: 1px solid #d349ff;
          }
          li {
            h2 {
              border-radius: 5px;
            }
          }
        }
      }
      .fourth {
        visibility: hidden;
        height: 20vh;
        a {
          display: none;
        }
      }
    }
  }
}

.blog-section-home {
  #word-heading {
    padding: 0 0.25rem;
  }
  .heading-div {
    padding: 10px 0px;
    margin-top: 0rem;
    h2 {
      font-weight: 500;
      color: black;
      padding-left: 0rem;
      font-size: 5vw;
    }
    .btn-span-1 {
      border-radius: 1px;
      background-color: black;
      padding: 1rem 2rem;
      color: white;
      transition: 0.3s;
      border: 2px solid black;
      &:hover {
        background-color: white;
        border: 2px solid black;
        color: black;
      }
    }
    .btn-span-2 {
      border-radius: 50%;
      background-color: black;
      padding: 1rem 1.2rem;
      color: white;
      margin-left: 0px;
      margin-right: 1rem;
    }
    > h4 {
      text-align: start;
      font-weight: 300;
      color: rgb(51 51 51);
      line-height: 1.5;
      padding-left: 0rem;
      font-size: 1.25rem;
    }
  }
  .container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    .mainBlogDiv {
      transition: 0.3s;
      &:hover {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 1rem;
        img {
          opacity: 1;
          scale: 2;
        }
      }
      .innerContainerBlog h3 {
        font-size: 2vw;
      }
      h4 {
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        color: black;
      }
      a {
        border: 1px solid rgb(133, 133, 133);
        padding: 0.5rem 2rem;
        margin-top: 5rem !important;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
        font-weight: 600;
        transition: 0.3s;
        &:hover {
          background-color: #000000;
          color: white;
          border: none;
        }
      }
    }
    .imgDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 35%;
        opacity: 0;
        transition: 0.5s;
        scale: 0;
      }
    }
  }
}
.sliders-home-page {
  margin-top: 4rem;
  margin-bottom: 0rem;
  > .homeClients {
    position: relative;
    &::after {
      position: absolute;
      left: 0px;
      top: 0px;
      content: "";
      width: 10%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      box-shadow: -10px 0px 20px 50px rgb(255, 255, 255);
      z-index: 5;
    }
    &::before {
      position: absolute;
      right: 0px;
      top: 0px;
      content: "";
      width: 10%;
      height: 100%;
      background-color: rgb(255, 255, 255);
      box-shadow: -10px 0px 20px 50px rgb(255, 255, 255);
      z-index: 5;
    }
  }

  .swiper--bottom {
    margin-top: 3rem;
  }
  .swiper--top {
    img {
      overflow: hidden;
      scale: 1.25;
    }
  }

  .main {
    &::before {
      content: "";
      width: 20%;
      height: 75%;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 0vw;
      right: -12vw;
      z-index: 50;
      border-radius: 0rem;
      box-shadow: 1px 0px 50px 50px white;
    }
    &::after {
      content: "";
      width: 22%;
      height: 75%;
      background-color: rgb(255 255 255);
      position: absolute;
      top: 0vw;
      left: -15vw;
      z-index: 50;
      border-radius: 0rem;
      box-shadow: 1px 0px 50px 50px white;
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 33px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 50% !important;
      margin: 1rem;
      border-radius: 0.5rem;
      filter: grayscale(100%);
    }
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 80% !important;
    height: 100%;
    object-fit: cover;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
    align-items: end;
  }
}

.homepage-about-section {
  padding: 0rem;
  margin-top: 1rem;
  .container {
    #word-heading {
      flex-direction: column;
      h2 {
        color: #000;
        padding-left: 0;
        font-size: 5vw;
        font-weight: 500;
      }
      h4 {
        color: #333 !important;
        font-size: 1.25rem;
        font-weight: 400 !important;
        line-height: 1.5;
      }
    }
    position: relative;

    .row {
      margin-top: 2rem;
      position: relative;
      z-index: 10;

      .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .inner-div-1 {
          background-color: #fabc54;
          padding: 1.5rem;
          border-radius: 10px;
          height: 48%;
          span {
          }
          p {
            margin-top: 1rem;
            font-size: 12px;
          }
          h4 {
            display: flex;
            justify-content: space-between;
            font-size: 1.25rem;
            font-weight: 600;
            img {
              width: 15%;
            }
            padding: 0;
            margin: 0;
          }
        }
        .inner-div-2 {
          height: 48%;
          background-color: #75b6e4;
          padding: 1.5rem;
          border-radius: 10px;
          color: white;

          span {
          }
          p {
            margin-top: 1rem;
            font-size: 12px;
          }
          h4 {
            display: flex;
            justify-content: space-between;
            font-size: 3rem;
            font-weight: 600;

            padding: 0;
            margin: 0;
          }
        }
      }
      .mid {
        .inner-div {
          background-color: #f0e9e1;
          background-color: #fcd2ba;
          padding: 1.5rem;
          border-radius: 10px;

          .first-div {
            height: 21.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            h5 {
              text-align: center;
              font-size: 3rem;
            }
            p {
              font-weight: 600;
              margin: 0;
              padding: 0;
              line-height: 50px;
              text-align: center;
              font-size: 1.25rem;
              color: rgb(103, 103, 103);
            }

            span {
              width: 60%;
            }
          }
          .second-div {
            p {
              font-size: 12px;
            }
            border-top: 1px solid gray;
            padding-top: 1.5rem;
          }
        }
      }
      .right {
        .inner-div-1 {
          height: 20rem;
          overflow: hidden;
          border-radius: 10px;
        }
        img {
          object-fit: cover;
          border-radius: 5px;
          width: 100%;
        }
        .inner-div-2 {
          background-color: #f34c55;
          margin-top: 1rem;
          padding: 1rem;
          border-radius: 5px;
          color: white;
          > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            p {
              font-size: 12px;
              .span1 {
                font-size: 1.9rem;
              }
              &:first-child {
                border-right: 1px solid rgb(255, 255, 255);
                padding-right: 1rem;
              }
            }
          }
        }
      }
    }
  }
}

.count-up-main-componenet {
  .row {
    > div {
      background-color: rgb(238, 238, 238);
      margin: 10px 0;
      padding: 20px 0;
      border-radius: 5px;

      .inner-div {
        p {
          font-size: 1rem;
          text-align: center;
          padding: 0px;
          margin: 0;
          color: gray;
        }
        span {
          width: 100%;
          display: block;
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }
  }
}

footer {
  background-color: black;
  color: white;
  padding: 3rem 0 2rem 0;
  margin: 0rem 0 0 0rem;
  z-index: 0;
  transition: 0.3s;
  position: relative;
  overflow: hidden;

  a {
    color: white;
  }
  #footerFisrt {
    padding: 3rem 0rem 1rem 0rem;
    h2 {
      font-size: 6rem;
      font-weight: 700;
    }
    button {
      border: none;
      background: transparent;
      transition: 0.3s;
      .btn-span-1 {
        border-radius: 1px;
        background-color: rgb(255, 255, 255);
        padding: 1rem 2rem;
        color: rgb(0, 0, 0);
        transition: 0.3s;
        border: 2px solid black;
        &:hover {
          background-color: black;
          border: 2px solid white;
          color: white;
        }
      }
      .btn-span-2 {
        border-radius: 50%;
        background-color: rgb(255, 255, 255);
        padding: 1rem 1rem;
        color: rgb(0, 0, 0);
        margin-left: 0px;
        transition: 0.3s;
      }
    }
  }
  .footer-ul {
    padding: 0;
    display: flex;
    justify-content: start;
    gap: 2rem;
    li {
      line-height: 2.75rem;
      a {
        color: white;
        list-style: none;
        font-size: 1rem;
        position: relative;
        &::after {
          content: "";
          background-color: red;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          transition: 0.17s;
        }
      }
    }
  }
  .footer-ul a:hover::after {
    width: 100%;
  }

  .footer-ul-2 {
    padding: 0;
    display: flex;
    justify-content: start;
    /* gap: 2rem; */
    flex-direction: column;

    li {
      line-height: 35px;
      list-style: none;
      font-size: 1rem;
      a {
        color: white;
        list-style: none;
        font-size: 1rem;
        position: relative;
        span {
          font-weight: 600;
        }
        &::after {
          content: "";
          background-color: red;
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: -0.25rem;
          left: 0;
          transition: 0.17s;
        }
      }
    }
  }
  .footer-ul-2 a:hover::after {
    width: 100%;
  }

  #footerSecond {
    .row {
      padding: 0rem 1rem;
    }
    .pandc a h6 {
      color: white;
      text-align: start;
      padding-bottom: 3rem;
    }
    hr {
      width: 100%;
      margin: 0rem 0 3rem 0;
    }
  }
  i {
    font-size: 1.4rem;
  }
}

.container {
  h6 {
    font-size: 0.8rem;
    font-weight: 300;
  }
}

.not-found-page {
  padding: 2rem 0;
  box-shadow: 0px 5px 10px 0px gray;
  position: relative;
  z-index: 5;
  margin-bottom: 10rem;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 10rem;
      color: black;
      font-style: italic;
      opacity: 1;
      font-family: "Poppins";
      font-weight: 600;
    }
    h2 {
      font-size: 1rem;
    }
    a {
      color: #fff;
      background-color: #000;
      border: 2px solid #000;
      border-radius: 1px;
      padding: 0.5rem 2rem;
      margin-top: 1.5rem;
      transition: all 0.3s;
      &:hover {
        color: #000;
        background-color: #fff;
        border: 2px solid #000;
      }
    }
  }
}

.active-link {
  a {
    border-bottom: 3px solid #f87f84;
  }
}

#first-list-div {
  transform: translateX(50px);
  padding: 0.5rem;
}
#second-list-div {
  transform: translateX(50px);
  padding: 0.5rem;
}
#third-list-div {
  transform: translateX(50px);
  padding: 0.5rem;
}

.showDeskMenuList {
  opacity: 1 !important;
  z-index: 11 !important;
  transform: translateX(20px) !important;
  transition: 0.5s !important;
  border-radius: 5px;
}

.home-page-Testimonials {
  padding: 4rem 0 2rem 0;
  .swiper-wrapper {
    margin-bottom: 4rem;
  }
  h2 {
    padding-left: 0;
    color: #000;
    font-size: 5vw;
    font-weight: 500;
  }
  .swiper-pagination-bullet-active {
    background-color: #000;
  }
  i {
    color: orange;
  }

  .slide {
    .innerDiv {
      padding: 20px 30px;
      img {
        width: 25%;
        height: auto;
      }
      > span {
        strong {
          margin-right: 10px;
        }
        i {
          font-size: 1.25rem;
        }
      }
      > p {
        line-height: 28px;
        color: rgb(98, 98, 98);
      }
      .client-info-div {
        display: flex;
        align-items: start;
        justify-content: start;
        .client-d {
          display: flex;
          align-items: center;
          justify-content: start;
          padding: 0;
          margin: 0;
          width: 65%;
          border-right: 2px solid #d2d2d2;
        }
        .brand {
          width: 25%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            width: 75%;
          }
        }
        p {
          span {
          }
          strong {
          }
        }
      }
    }
  }
}

.main-marquee-file {
  margin-top: 4rem;
  position: relative;
  /* background-color: black;   */

  &::after {
    content: "";
    width: 1%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: -1rem;
    top: 0;
    box-shadow: 20px 0px 20px 30px rgb(255, 255, 255);
    /* border-radius: 0px 20px 20px 0px; */
  }
  &::before {
    content: "";
    width: 1%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute;
    right: -1rem;
    top: 0;
    z-index: 1;
    box-shadow: -20px 0px 20px 30px rgb(255, 255, 255);
    /* border-radius: 20px 0px 0px 20px; */
  }
  span {
    font-size: 4rem;
    font-weight: 700;
    color: #c2c2c2;
  }
}

#whatsappFloatingButton {
  width: fit-content;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  i {
    color: green;
    font-size: 2.25rem;
    background-color: white;
    border-radius: 10rem;
    box-shadow: 0px 0px 10px 0px gray;
    padding: 10px;
  }
}

.home-page-why-we-us-section {
  margin-top: 5rem;
  .heading-section {
    margin-bottom: 30px;
    padding: 0 0.75rem;
    h2 {
      color: #000;
      padding-left: 0;
      font-size: 5vw;
      font-weight: 500;
    }
    p {
      color: #333;
      font-size: 1.25rem;
      font-weight: 400;
      line-height: 1.5;
      padding-left: 1rem;
    }
  }
  .container {
    .row {
      > div {
        margin-top: 1.5rem;
        .innerDiv {
          background-color: rgb(252, 252, 252);
          border: 2px solid #dddddd;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          height: 15rem;
          border-radius: 20px;
          box-shadow: 0px 10px 20px -12px gray;
          img {
            width: 20%;
          }
          h5 {
            text-transform: capitalize;
            color: #000;
            opacity: 1;
            border: none;
            padding: 5px;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .showPhoneMenu {
    transform: translateX(0%) !important;
    transition: 0.5s;
    display: block;
  }

  .home-banner-main-section {
    .row-div {
      flex-direction: column;
    }
  }

  #footerSecond {
    transform: translate(0%, -6.074%) translate3d(0px, 0px, 0px);
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
