/* Tablets and desktops */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
} */

/* Phones (landscape and portrait) */
/* @media only screen and (max-width: 767px) {
  
  .flair {
    display: none;
  }
  .row-div {
    flex-direction: column;
  }
} */

/* Portrait phones only */
/* @media only screen and (max-width: 767px) and (orientation: portrait) {
} */

/* Large phones (above 700px but below 1000px) */
/* @media only screen and (min-width: 700px) and (max-width: 1000px) {
   
} */

/* 1280+ */
@media (min-width: 1280px) {
}

@media (max-width: 1279px) and (min-width: 769px) {
}

/* Smallar phone */
@media (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .desktop-menu {
    display: none;
  }

  /* Header Css part 1 */

  .parent-fo-header {
    .para-div {
      z-index: 4;
    }
    header {
      img {
        width: 100% !important;
      }
      .container {
        > div {
          padding: 10px 1rem;
        }
        .row-div {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          .logo-div {
            width: 60%;
          }
          .menu-div {
            .phone-menu-div {
              .inner-div {
                .row {
                  > div {
                    .accordion-body {
                      text-align: start;
                      padding: 5px;
                      li {
                        transition: 0.3s;
                        padding: 5px 0px;
                        border-radius: 5px;
                        &:hover {
                          background-color: white;
                        }
                      }
                    }
                    .accordion-item:last-of-type {
                      > .accordion-header {
                        .accordion-button.collapsed {
                          font-size: 1.75rem;
                          border-bottom: 1px solid rgb(255, 255, 255) !important;
                          color: #5b5b5b;
                          padding: 0px;
                          font-family: "Poppins";
                        }
                      }
                    }
                    .accordion-button:not(.collapsed) {
                      font-size: 1.75rem;
                      border-bottom: 1px solid #fafafa;
                      padding: 0px 0 10px 0;
                      font-weight: 600;
                      font-family: "Poppins";
                    }
                  }
                }
              }
              img {
                width: 50% !important;
                display: flex;
                z-index: 20 !important;
              }
            }
            .ham-menu-icon {
              display: block;
            }
          }
        }
      }
    }
  }

  .flair {
    display: none;
  }

  /* Home Banner start */
  .home-banner-main-section {
    .row-div {
      h1 {
        font-size: 10vw !important;
        text-align: center;
        span {
          &:last-child {
            margin-top: 0rem;
          }
        }
      }

      .trans {
        font-size: 10vw;
        letter-spacing: 0px;
        margin: 0px;
        padding: 0;
      }
    }
    .phone-trans {
      display: block;
      margin-top: 1rem !important;
    }

    .robo-span {
      display: block;
      width: 45%;
    }

    .trans,
    .sol,
    .digi,
    .ai,
    .with,
    .brand {
      display: block;
      width: 100%;
      font-size: 10vw;
    }
    .brand,
    .with {
      width: fit-content;
      font-weight: 700 !important;
      font-size: 10vw !important;
      letter-spacing: 0;
    }

    .ai {
      width: 100%;
      display: block;
      margin-bottom: 1.5rem;
      .strong {
        font-weight: 500 !important;
        font-size: 10vw !important;
      }
    }
    .digi,
    .sol {
      width: fit-content;
      font-size: 8vw;
    }
    a {
      top: -1px;

      span {
        font-size: 18px;
        text-transform: uppercase;
        color: gray;
      }
    }

    .container {
      > div {
        padding: 10px 1rem;
      }
      .row-div {
        flex-direction: column;
        margin-top: 0;
        padding: 0;

        .col-div {
          width: 100%;
        }
        > div {
          width: 100%;
        }
      }
    }

    .desk-trans {
      display: none;
    }

    height: 69vh;
  }
  /* Home Banner end  */

  #word-heading {
    padding: 0 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      width: 55%;
      font-size: 2rem;
      font-weight: 700;
    }
    a {
      width: 45%;
      text-align: end !important;
    }
  }
  .swiper-main-div .last-slide-of-all .inner-div {
    height: 13rem;
  }

  .swiper-main-div .swiper-slide .inner-div p span {
    font-size: 8px;
  }

  /* work-home-section end */

  .work-home-section {
    margin-top: 1rem;
    padding: 15px 0;
    .swiper-main-div {
      margin-top: 1rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400 !important;
      margin-top: 10px;
    }
    .heading-div {
      > h4 {
        padding: 10px;
        text-align: start;
        color: rgb(51, 51, 51);
        padding-left: 0px;
        font-size: 1.4rem !important;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    .container-fluid {
      padding-left: 5px;
    }
    #word-heading {
      padding: 0 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-direction: column;
      h2 {
        width: 55%;
        font-size: 2rem;
        font-weight: 700;
      }
      a {
        width: fit-content;
        text-align: end !important;
      }
    }
    .btn-span-1 {
      padding: 5px 20px;
    }
    .btn-span-2 {
      padding: 10px 12px;
      margin: 0;
    }
  }

  /* work-home-section end */

  .blog-section-home {
    /* padding-bottom: 0.75rem; */
    margin-top: 2rem;
    .container-fluid {
      .imgDiv {
        display: none;
      }
      .mainBlogDiv {
        .innerContainerBlog h3 {
          font-size: 4vw;
        }
      }
    }

    .row {
      padding: 0;
      &:last-child {
        padding-bottom: 0.5rem;
      }
      .col-12 {
        padding: 2.5px;
      }
    }

    #word-heading {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0px;
      display: flex;
    }
    .heading-div {
      margin-top: 1rem;
      padding: 10px 10px;
      .btn-span-2 {
        padding: 10px 12px;
        margin: 0;
      }
      .btn-span-1 {
        padding: 5px 20px;
      }
      a {
        width: 60% !important;
        text-align: end !important;
        text-align: end !important;
      }
    }
  }

  /* Home Exquisites-home-page start */

  .exquisites-home-page {
    overflow: visible !important;
    padding: 0 0.5rem;
    margin-top: 2rem;
    .row-div {
      flex-direction: column;
      .col-div {
        width: 100%;
        .inner-div {
          li {
            font-size: 5vw;
          }
        }
      }
    }
    .heading-div {
      margin-bottom: 0rem;
      padding: 0px 0;
      .btn-span-1 {
        padding: 5px 20px;
      }
      .btn-span-2 {
        padding: 10px 12px;
        margin: 0;
      }
      > h4 {
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 400 !important;
      }
    }
    .container {
      overflow: visible !important;

      .row {
        overflow: visible !important;
        display: block !important;
        > div {
          h2 {
            font-size: 8vw !important;
          }
          .inner-div {
            padding: 30px 20px;
          }
          &:first-child {
            .inner-div {
              margin-top: 0;
            }
          }
        }
        .col-12 {
          position: -webkit-sticky;
          position: sticky;
          top: 5%;
          z-index: 5;
          flex-direction: column;
          overflow: visible !important;

          .inner-div {
            img {
              display: none;
            }
          }
        }

        .third {
          .inner-div {
          }
        }
      }
    }
  }

  /* Home Exquisites-home-page start */

  .sliders-home-page {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  footer {
    #footerFisrt {
      padding: 5rem 1.25rem 2rem 1rem;
      flex-direction: column;
      align-items: start;
      button {
        .btn-span-1 {
          padding: 0.5rem 1rem;
        }
        .btn-span-2 {
          padding: 0.4rem;
        }
      }
      h2 {
        margin: 0;
        font-size: 4.5rem;
      }
    }

    #footerSecond {
      .row {
        padding: 0 0rem;
        > div {
          padding: 0;
        }
      }
    }

    .footer-ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0;
      li {
        line-height: 2rem;
        width: 45%;
        padding: 0px;
        text-align: start;
      }
    }
    .footer-ul-2 {
      padding: 0px 17px;
    }
    .footer-social-icon {
      padding-left: 1rem;
    }

    h6 {
      padding-left: 1rem;
      line-height: 20px;
    }
  }

  .phone-menu-div {
    .accordion-body {
      ul {
        padding: 0;
        li {
          line-height: 25px;
          a {
            font-size: 1.25rem;
            opacity: 0.75;
            font-weight: 600;
          }
        }
      }
    }
  }

  .sliders-home-page {
    .swiper--bottom {
      margin-top: 1rem;
    }
    > .homeClients {
      &::before {
        right: -2rem;
      }
      &::after {
        left: -2rem;
      }
    }
    .swiper-slide {
      img {
        width: 100% !important;
        /* border: 1px solid red; */
        overflow: hidden;
        scale: 1.25;
      }
    }
  }

  .home-page-main {
    padding: 0 5px;
    margin-bottom: -3rem !important ;
  }

  .homepage-about-section {
    margin-top: 2rem;
    .container {
      .row {
        margin-top: 0.8rem;
        .mid {
          margin-top: 1rem;
          .inner-div {
            .first-div {
              height: fit-content;
            }
          }
        }
        .right {
          margin-top: 1rem;
          display: none;
        }
      }
      #word-heading {
        padding: 0;
        h2 {
          color: #333;
          width: 55%;
          padding-left: 0;
          font-family: "Poppins";
          font-size: 2rem;
          font-weight: 700;
        }
        h4 {
          color: #333;
          line-height: 1.5;
          opacity: 0.9;
          margin-top: 0;
          font-family: Poppins;
          font-size: 1rem;
          font-weight: 400 !important;
        }
      }
    }
  }

  footer {
    padding-top: 3rem;
  }

  /* Header Css part-2 and last */

  .parent-fo-header {
    header {
      .phone-links,
      .contact-div {
        padding: 0px 25px !important;
        a {
          width: 100%;
          display: block;
          text-align: start;
          font-size: 1.75rem;
          font-weight: 500;
          color: #5b5b5b !important;
          line-height: 2;
          display: block;
          line-height: 50px;
          -webkit-text-stroke-width: 0.65px;
        }
      }
    }
  }

  .about-page-main {
    .aboutRow {
      margin: 0 !important;
      padding: 0 1.5rem !important;
    }
    .aboutCta {
      margin-top: 1rem !important;
      .row {
        .col-12 {
          h1 {
            font-size: 1.5rem !important;
            width: 100% !important;
          }
        }
      }
    }
  }
  .about-page-main .aboutRow > .row > div:first-child {
    padding-left: 0.75rem !important;
  }
  .about-page-main .aboutRow > .row > div:first-child h1 {
    font-size: 10vw !important  ;
    font-weight: 700;
  }
  .about-page-main .about-Page-right iframe {
    height: 18rem !important;
  }

  .about-page-main .aboutVision .row .vision-btnDiv span {
    font-size: 8vw !important;
  }
  .about-page-main .ourTeam h2 {
    font-size: 8vw !important;
  }
  .about-page-main .aboutVision .row h2 {
    width: 100% !important;
    p {
      font-size: 18px !important;
      line-height: 1.5 !important;
      margin-top: 10px;
      text-align: center !important;
    }
  }

  .about-page-main .aboutVision .row .careerAbout .careerBox .careerButton h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .about-page-main .ourTeam {
    margin-top: 2rem !important;
  }
  .about-page-main .aboutVision .row .vision-btnDiv span {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
  /* work page */
  .work-main-page .work-accordian-section .row {
    padding: 0 !important ;
  }
  .work-main-page .bs-container .row div {
    padding-left: 0.75rem !important ;
  }
  .work-main-page .bs-container .row div h1 {
    font-size: 8vw !important;
  }
  .work-main-page .work-accordian-section {
    margin-bottom: -5rem !important;
    padding-bottom: 10px !important;
  }

  /* blog page */
  .blog-main-page .bs-container .row > div h1 {
    font-size: 8vw !important;
  }
  .blog-main-page .bs-container3 {
    box-shadow: unset !important;
    margin: 0 0 -3rem !important;
  }

  /* contact */
  .contact-page-main .container-fluid {
    margin: 0px 0 -6rem !important;
  }
  .contact-page-main .container-fluid form h3 {
    font-size: 8vw !important;
  }

  .contact-page-main .container-fluid .row {
    .first-form-row {
      gap: 0.5rem;
      > div input {
      }
    }
  }
  html,
  body {
    overflow-x: clip !important;
  }

  .home-page-why-we-us-section {
    margin-top: 2rem;
    .container {
      .row {
        > div {
          width: 50%;
          padding: 5px;
          margin-top: 0px;
          .innerDiv {
            padding: 10px;
            height: 10rem;
            h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
    .heading-section {
      padding: 0;
      margin-bottom: 0;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        padding: 10px 0 0 0;
        font-size: 1rem;
        font-weight: 400 !important;
        margin-bottom: 10px;
      }
    }
  }

  .home-page-Testimonials {
    padding: 3rem 0 2rem 0;
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
    .slide {
      .innerDiv {
        padding: 5px 0px;
      }
    }
  }

  .main-marquee-file {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    span {
      font-weight: 500;
      font-size: 2rem;
    }
    &::after {
      box-shadow: 20px 0px 10px 5px white;
    }
    &::before {
      box-shadow: -20px 0px 10px 5px white;
    }
  }
}
/* end of the 480px */
