/* Tablets and desktops */
/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
  
} */

/* Phones (landscape and portrait) */
/* @media only screen and (max-width: 767px) {
  
  .flair {
    display: none;
  }
  .row-div {
    flex-direction: column;
  }
} */

/* Portrait phones only */
/* @media only screen and (max-width: 767px) and (orientation: portrait) {
} */

/* Large phones (above 700px but below 1000px) */
/* @media only screen and (min-width: 700px) and (max-width: 1000px) {
   
} */

/* 1280+ */
/* @media (min-width: 1280px) {
} */

/* @media (max-width: 1279px) and (min-width: 769px) {
} */

@media (max-width: 720px) and (min-width: 540px) {
  /* CSS styles for portrait tablets only (example range) */
  
  html {
    overflow: auto;
  }
  .home-banner-main-section .row-div h1 span .strong {
    font-size: 3.5rem;
  }
  .home-banner-main-section .row-div h1 {
    .digi,
    .sol {
      font-size: 3.5rem;
      margin-top: 1.5rem;
    }
  }
  .flair {
    display: none;
  }

  .parent-fo-header header .container .row-div .menu-div .phone-menu-div {
    z-index: 999;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 95vw;
    height: 100vh;
    padding: 4rem 1rem 0;
    transition: all 0.3s;
    display: flex;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* transform: translateX(-110%); */
    box-shadow: 0 0 10px gray;
    top: 0;
  }

  .showPhoneMenu {
    transform: translateX(0%) !important;
    transition: 0.5s;
    display: block;
  }

  .desktop-menu {
    display: none;
  }
  .parent-fo-header header .container .row-div .menu-div .ham-menu-icon {
    display: block;
  }

  .parent-fo-header header .container .row-div .logo-div {
    width: 60%;
  }

  .parent-fo-header header .container .row-div {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home-banner-main-section .row-div .trans {
    font-size: 4rem;
  }
  .home-banner-main-section .row-div .brand {
    font-size: 4rem;
  }

  header .container .row-div .menu-div .phone-menu-div .inner-div .row > div {
    text-align: start;
    padding: 0 2rem 0 2rem !important;
    a {
      width: 100%;
      display: block;
      font-size: 1.25rem;
      font-weight: 600;
      margin: 5px 0;
    }
  }
  .parent-fo-header header .container .row-div .menu-div .phone-menu-div img {
    width: 45%;
  }

  .home-page-why-we-us-section .heading-section p {
    width: 100%;
  }
  .about-page-main .aboutRow {
    padding: 0 2rem !important;
  }
  .about-page-main .About-page-tabs {
    padding: 0 2rem;
  }
  .about-page-main .about-Page-right {
    margin-bottom: -150px;
  }
  .homepage-about-section .container .row .mid .inner-div {
    margin: 1.5rem 0;
  }
  .exquisites-home-page .container .row li h2 {
    span {
      font-size: 2rem;
    }
  }
  footer #footerFisrt h2 {
    font-size: 3rem;
  }
  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .cross-icon {
    top: 3rem;
  }
  .parent-fo-header .p-tag {
    margin: 0px;
  }
  footer #footerSecond .row {
    padding-top: 3rem;
  }
  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-body {
    padding: 0 0 0 0;
    padding-left: 10px;
    ul {
      padding: 0;
      li {
        a {
          font-weight: 300;
          font-size: 1rem;
        }
      }
    }
  }
  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-item:last-of-type
    > .accordion-header
    .accordion-button.collapsed {
    padding: 0;
    margin: 0px 0 3px 0;
    border-radius: 0;
    padding: 2px 0;
  }

  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-button:not(.collapsed) {
    padding: 0 0 10px 0;
  }

  .showPhoneMenu {
    transform: translateX(0%) !important;
    transition: 0.5s;
    display: block;
  }
  .contact-page-main .container-fluid .row .first-form-row > div input {
    margin: 10px 0;
  }
  .container {
    max-width: 100%;
  }
  /*  */

  .brand-page-main {
    .bs-container,
    .bs-container2,
    .bs-container3 {
      padding: 0 30px !important;
    }
    .bs-container3 {
      .row {
        padding: 0 20px !important;
      }
    }
  }
  .media-page-main {
    .bs-container,
    .bs-container2,
    .bs-container3 {
      padding: 0 30px !important;
    }
    .bs-container3 {
      .row {
        padding: 0 20px !important;
      }
    }
  }
  .about-page-main {
    .bs-container,
    .bs-container2,
    .bs-container3 {
      padding: 0 30px !important;
    }
    .bs-container3 {
      .row {
        padding: 0 20px !important;
      }
    }
  }

  /*  */
  footer .footer-ul {
    flex-wrap: wrap;
  }
  .work-card .img-div img {
    width: 100%;
  }
  .about-page-main .boxes-1 {
    width: 50%;
    padding: 0;
  }
  .about-page-main .client-img-div img {
    width: 100% !important;
  }
  .about-page-main .bs-container-clients .client-row-1 {
    margin-top: 0rem;
  }
}

@media (max-width: 1024px) and (min-width: 720px) {
  /* CSS styles for portrait tablets only (example range) */
  html {
    overflow-x: hidden;
  }
  header {
    .container {
      max-width: 95%;
      width: 100%;
    }
  }

  footer .footer-ul {
    flex-wrap: wrap;
  }
  .bs-container2 .accordion-item .accordion-header button {
    font-size: 1.25rem !important;
  }
  .about-page-main .bs-container3 .buttonBox {
    button {
      font-size: 10px;
      padding: 2px 10px !important;
      background-color: red;
    }
  }
  .about-page-main .bs-container3 {
    max-width: 95%;
    margin-top: 0px !important;
  }
  .about-page-main .bs-container {
    margin-bottom: 1.5rem !important;
  }
  .about-page-main .bs-container {
    margin-bottom: 1.5rem 24px;
  }
  .about-page-main .bs-container {
    max-width: 95%;
  }

  .about-page-main .bs-container2 {
    max-width: 95%;
  }
  .home-banner-main-section {
    height: 40vh;
  }

  .home-page-why-we-us-section .container .row {
    justify-content: space-between;
  }
  .home-page-why-we-us-section .container .row > div {
    width: 50%;
  }
  .homepage-about-section .container .row .left {
    margin-bottom: 1.5rem;
  }
  .homepage-about-section .container .row .right {
    margin-top: 1.5rem;
  }

  .desktop-menu {
    display: none;
  }

  .flair {
    display: none;
  }
  .parent-fo-header header .container .row-div .menu-div .ham-menu-icon {
    display: block;
  }

  .parent-fo-header header .container .row-div .logo-div {
    width: 45%;
  }
  .parent-fo-header header .container .row-div .menu-div .phone-menu-div {
    z-index: 999;
    background-color: #fff;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    width: 95vw;
    height: 100vh;
    padding: 4rem 1rem 0;
    transition: all 0.3s;
    display: flex;
    position: fixed;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    /* transform: translateX(-110%); */
    box-shadow: 0 0 10px gray;
    top: 0;
  }
  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div {
    text-align: start;
    padding: 0 2rem 0 2rem !important;
    a {
      width: 100%;
      display: block;
      font-size: 1.25rem;
      font-weight: 600;
      margin: 5px 0;
    }
  }
  .parent-fo-header header .container .row-div .menu-div .phone-menu-div img {
    width: 25%;
  }

  footer #footerFisrt h2 {
    font-size: 4rem;
  }

  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-body {
    padding: 0 0 0 0;
    padding-left: 10px;
    ul {
      padding: 0;
      li {
        a {
          font-weight: 300;
          font-size: 1rem;
        }
      }
    }
  }
  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-item:last-of-type
    > .accordion-header
    .accordion-button.collapsed {
    padding: 0;
    margin: 0px 0 3px 0;
    border-radius: 0;
    padding: 2px 0;
  }

  .parent-fo-header
    header
    .container
    .row-div
    .menu-div
    .phone-menu-div
    .inner-div
    .row
    > div
    .accordion-button:not(.collapsed) {
    padding: 0 0 10px 0;
  }

  .showPhoneMenu {
    transform: translateX(0%) !important;
    transition: 0.5s;
    display: block;
  }

  .work-main-page .container {
    max-width: 95%;
  }
}

/* Smallar phone */
@media (max-width: 480px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .desktop-menu {
    display: none;
  }

  /* Header Css part 1 */

  .parent-fo-header {
    .para-div {
      z-index: 4;
    }
    header {
      img {
        width: 100% !important;
      }
      .container {
        > div {
          padding: 10px 1rem;
        }
        .row-div {
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 1rem;
          padding-left: 1rem;
          padding-right: 1rem;
          .logo-div {
            width: 60%;
          }
          .menu-div {
            .phone-menu-div {
              .inner-div {
                .row {
                  > div {
                    .accordion-body {
                      text-align: start;
                      padding: 5px;
                      li {
                        transition: 0.3s;
                        padding: 5px 0px;
                        border-radius: 5px;
                        &:hover {
                          background-color: white;
                        }
                      }
                    }
                    .accordion-item:last-of-type {
                      > .accordion-header {
                        .accordion-button.collapsed {
                          font-size: 1.6rem;
                          border-bottom: 1px solid rgb(255, 255, 255) !important;
                          color: #000000;
                          padding: 0px;
                          font-family: "Poppins";
                          font-weight: 400;
                        }
                      }
                    }
                    .accordion-button:not(.collapsed) {
                      font-size: 1.6rem;
                      border-bottom: 1px solid #fafafa;
                      padding: 0px 0 10px 0;
                      font-weight: 400;
                      font-family: "Poppins";
                      color: #000000;
                    }
                  }
                }
              }
              img {
                width: 50% !important;
                display: flex;
                z-index: 20 !important;
              }
            }
            .ham-menu-icon {
              display: block;
            }
          }
        }
      }
    }
  }

  .flair {
    display: none;
  }

  /* Home Banner start */
  .home-banner-main-section {
    .row-div {
      h1 {
        font-size: 10vw !important;
        text-align: center;
        span {
          &:last-child {
            margin-top: 0rem;
          }
        }
      }

      .trans {
        font-size: 10vw;
        letter-spacing: 0px;
        margin: 0px;
        padding: 0;
      }
    }
    .phone-trans {
      display: block;
      margin-top: 1rem !important;
    }

    .robo-span {
      display: block;
      width: 45%;
    }

    .trans,
    .sol,
    .digi,
    .ai,
    .with,
    .brand {
      display: block;
      width: 100%;
      font-size: 10vw;
    }
    .brand,
    .with {
      width: fit-content;
      font-weight: 700 !important;
      font-size: 10vw !important;
      letter-spacing: 0;
    }

    .ai {
      width: 100%;
      display: block;
      margin-bottom: 1.5rem;
      .strong {
        font-weight: 500 !important;
        font-size: 10vw !important;
      }
    }
    .digi,
    .sol {
      width: fit-content;
      font-size: 8vw;
    }
    a {
      top: -1px;

      span {
        font-size: 18px;
        text-transform: uppercase;
        color: rgb(0, 0, 0);
      }
    }

    .container {
      > div {
        padding: 10px 1rem;
      }
      .row-div {
        flex-direction: column;
        margin-top: 0;
        padding: 0;

        .col-div {
          width: 100%;
        }
        > div {
          width: 100%;
        }
      }
    }

    .desk-trans {
      display: none;
    }

    height: 85vh;
  }
  /* Home Banner end  */

  #word-heading {
    padding: 0 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h2 {
      width: 55%;
      font-size: 2rem;
      font-weight: 700;
    }
    a {
      width: 45%;
      text-align: end !important;
    }
  }
  .swiper-main-div .last-slide-of-all .inner-div {
    height: 13rem;
  }

  .swiper-main-div .swiper-slide .inner-div p span {
    font-size: 8px;
  }

  /* work-home-section end */

  .work-home-section {
    margin-top: 1rem;
    padding: 15px 0;
    .swiper-main-div {
      margin-top: 1rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 400 !important;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    .heading-div {
      > h4 {
        padding: 10px;
        text-align: start;
        color: rgb(51, 51, 51);
        padding-left: 0px;
        font-size: 1.4rem !important;
        font-weight: 300;
        line-height: 1.5;
      }
    }
    .container-fluid {
      padding-left: 5px;
    }
    #word-heading {
      padding: 0 0px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-direction: column;
      h2 {
        width: 55%;
        font-size: 2rem;
        font-weight: 700;
      }
      a {
        width: fit-content;
        text-align: end !important;
      }
    }
    .btn-span-1 {
      padding: 5px 20px;
    }
    .btn-span-2 {
      padding: 10px 12px;
      margin: 0;
    }
  }

  /* work-home-section end */

  .blog-section-home {
    /* padding-bottom: 0.75rem; */
    margin-top: 2rem;
    .container-fluid {
      .imgDiv {
        display: none;
      }
      .mainBlogDiv {
        .innerContainerBlog h3 {
          font-size: 4vw;
        }
      }
    }

    .row {
      padding: 0;
      &:last-child {
        padding-bottom: 0.5rem;
      }
      .col-12 {
        padding: 2.5px;
      }
    }

    #word-heading {
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0px;
      display: flex;
    }
    .heading-div {
      margin-top: 1rem;
      padding: 10px 10px;
      .btn-span-2 {
        padding: 10px 12px;
        margin: 0;
      }
      .btn-span-1 {
        padding: 5px 20px;
      }
      a {
        width: 60% !important;
        text-align: end !important;
        text-align: end !important;
      }
    }
  }

  /* Home Exquisites-home-page start */

  .exquisites-home-page {
    overflow: visible !important;
    padding: 0 0.5rem;
    margin-top: 2rem;
    .row-div {
      flex-direction: column;
      .col-div {
        width: 100%;
        .inner-div {
          li {
            font-size: 5vw;
          }
        }
      }
    }
    .heading-div {
      margin-bottom: 0rem;
      padding: 0px 0;
      .btn-span-1 {
        padding: 5px 20px;
      }
      .btn-span-2 {
        padding: 10px 12px;
        margin: 0;
      }
      > h4 {
        padding: 10px 0;
        font-size: 1rem;
        font-weight: 400 !important;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
      }
    }
    .container {
      overflow: visible !important;

      .row {
        overflow: visible !important;
        display: block !important;
        > div {
          h2 {
            font-size: 1.5rem !important;
          }
          .inner-div {
            padding: 30px 20px;
          }
          &:first-child {
            .inner-div {
              margin-top: 0;
            }
          }
        }
        .col-12 {
          position: -webkit-sticky;
          position: sticky;
          top: 5%;
          z-index: 5;
          flex-direction: column;
          overflow: visible !important;

          .inner-div {
            img {
              display: none;
            }
          }
        }

        /* .third {
          .inner-div {
          }
        } */
      }
    }
  }

  /* Home Exquisites-home-page start */

  .sliders-home-page {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  footer {
    #footerFisrt {
      padding: 4rem 1.25rem 2rem 1rem;
      flex-direction: column;
      align-items: start;
      button {
        .btn-span-1 {
          padding: 0.5rem 1rem;
        }
        .btn-span-2 {
          padding: 0.4rem;
        }
      }
      h2 {
        margin: 0;
        font-size: 4.5rem;
      }
    }

    #footerSecond {
      .row {
        padding: 0 0rem;
        > div {
          padding: 0;
        }
      }
    }

    .footer-ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 0;
      li {
        line-height: 2rem;
        width: 45%;
        padding: 0px;
        text-align: start;
      }
    }
    .footer-ul-2 {
      padding: 0px 17px;
    }
    .footer-social-icon {
      padding-left: 1rem;
    }

    h6 {
      padding-left: 1rem;
      line-height: 20px;
    }
  }

  .phone-menu-div {
    .accordion-body {
      ul {
        padding: 0;
        li {
          line-height: 25px;
          a {
            font-size: 1.15rem;
            font-weight: 300;
            color: black;
          }
        }
      }
    }
  }

  .sliders-home-page {
    .swiper--bottom {
      margin-top: 1rem;
    }
    > .homeClients {
      &::before {
        right: -2rem;
      }
      &::after {
        left: -2rem;
      }
    }
    .swiper-slide {
      img {
        width: 100% !important;
        /* border: 1px solid red; */
        overflow: hidden;
        scale: 1.25;
      }
    }
  }

  .home-page-main {
    padding: 0 5px;
    margin-bottom: -3rem !important ;
  }

  .homepage-about-section {
    margin-top: 2rem;
    .container {
      .row {
        margin-top: 0.8rem;
        .mid {
          margin-top: 1.5rem;
          .inner-div {
            .first-div {
              height: fit-content;
            }
          }
        }
        .right {
          margin-top: 1rem;
          display: none;
        }
      }
      #word-heading {
        padding: 0;
        h2 {
          color: #333;
          width: 55%;
          padding-left: 0;
          font-family: "Poppins";
          font-size: 2rem;
          font-weight: 700;
        }
        h4 {
          color: #333;
          line-height: 1.5;
          opacity: 0.9;
          margin-top: 0;
          font-family: Poppins;
          font-size: 1rem;
          font-weight: 400 !important;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  .homepage-about-section .container .row .mid .inner-div .first-div p {
    margin-bottom: 1.5rem;
  }
  .home-page-Testimonials .slide .innerDiv > p {
    color: #626262;
    line-height: 28px !important;
  }
  footer {
    padding-top: 3rem;
  }

  /* Header Css part-2 and last */

  .parent-fo-header {
    header {
      .phone-links,
      .contact-div {
        padding: 0px 25px !important;
        a {
          text-align: start;
          -webkit-text-stroke-width: 0.65px;
          width: 100%;
          font-size: 1.5rem;
          font-weight: 300;
          line-height: 50px;
          display: block;
          color: #000000 !important;
          letter-spacing: 1px;
        }
      }
    }
  }

  .about-page-main {
    .aboutRow {
      margin: 0 !important;
      padding: 0 1rem !important;
    }

    .aboutCta {
      margin-top: 1rem !important;
      .row {
        .col-12 {
          h1 {
            font-size: 1.5rem !important;
            width: 100% !important;
          }
        }
      }
    }
  }
  .about-page-main .aboutRow > .row > div:first-child {
    padding-left: 0.75rem !important;
  }
  .about-page-main .aboutRow > .row > div:first-child h1 {
    font-size: 10vw !important  ;
    font-weight: 700;
  }
  .about-page-main .about-Page-right iframe {
    height: 18rem !important;
  }

  .about-page-main .aboutVision .row .vision-btnDiv span {
    font-size: 8vw !important;
  }
  .about-page-main .ourTeam h2 {
    font-size: 8vw !important;
  }
  .about-page-main .aboutVision .row h2 {
    width: 100% !important;
    p {
      font-size: 18px !important;
      line-height: 1.5 !important;
      margin-top: 10px;
      text-align: center !important;
    }
  }

  .about-page-main .aboutVision .row .careerAbout .careerBox .careerButton h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  .about-page-main .ourTeam {
    margin-top: 2rem !important;
  }
  .about-page-main .aboutVision .row .vision-btnDiv span {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
  }
  /* work page */
  .work-main-page .work-accordian-section .row {
    padding: 0 !important ;
  }
  .work-main-page .bs-container .row div {
    padding-left: 0.75rem !important ;
    margin-bottom: -2rem;
  }
  .work-main-page .bs-container .row div h1 {
    font-size: 8vw !important;
    font-weight: 700;
    margin-top: 0;
    padding-top: 0;
  }
  .work-main-page .work-accordian-section {
    margin-bottom: -5rem !important;
    padding-bottom: 10px !important;
  }

  /* blog page */
  .blog-main-page .bs-container .row > div h1 {
    font-size: 8vw !important;
  }
  .blog-main-page .bs-container3 {
    box-shadow: unset !important;
    margin: 0 0 -3rem !important;
  }

  /* contact */
  .contact-page-main .container-fluid {
    margin: 0px 0 -6rem !important;
  }
  .contact-page-main .container-fluid form h3 {
    font-size: 8vw !important;
  }

  .contact-page-main .container-fluid .row {
    .first-form-row {
      gap: 0.5rem;
      /* > div input {
      } */
    }
  }
  html,
  body {
    overflow-x: clip !important;
  }

  .home-page-why-we-us-section {
    margin-top: 2rem;
    .container {
      .row {
        > div {
          width: 50%;
          padding: 5px;
          margin-top: 0px;
          .innerDiv {
            padding: 10px;
            height: 10rem;
            h5 {
              font-size: 18px;
            }
          }
        }
      }
    }
    .heading-section {
      padding: 0;
      margin-bottom: 0;
      h2 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        padding: 10px 0 0 0;
        font-size: 1rem;
        font-weight: 400 !important;
        margin-bottom: 1.5rem;
        width: 100%;
        line-height: 1.5 !important;
        margin-bottom: 1.5rem;
      }
    }
  }

  .home-page-Testimonials {
    padding: 3rem 0 2rem 0;
    padding-bottom: 0px;
    h2 {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    .slide {
      .innerDiv {
        padding: 5px 0px;
      }
    }
  }

  .main-marquee-file {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    span {
      font-weight: 500;
      font-size: 2rem;
    }
    &::after {
      box-shadow: 20px 0px 10px 5px white;
    }
    &::before {
      box-shadow: -20px 0px 10px 5px white;
    }
  }
}
/* end of the 480px */
