.media-page-main {
  .bs-container-clients .client-row-1 {
    margin-top: 3.5rem;
  }
  .row {
    row-gap: 2rem;
  }
  .bs-container-clients .client-row-1 {
    margin-top: 3.5rem;
  }

  .bs-container-clients {
    h4 {
      font-size: 2.5rem;
      font-weight: 600;
      font-family: "Poppins";
      padding: 1.5rem 0 0 2rem;
      text-align: start !important;
    }
  }
  .client-img-div {
    img {
      width: 70% !important;
      filter: grayscale(100%);
      height: 70%;
      object-fit: cover;
    }
  }
  .bs-container-clients h4 {
    padding: 1.5rem 0 0 0rem !important;
    font-family: Poppins;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: start !important;
  }
  .brand-strategy-div {
    padding-left: 2.5rem;
    margin-bottom: 5rem;
    h1 {
      font-size: 5vw;
      font-weight: 600;
      font-family: "Poppins";
      padding: 1rem 0 0 0;
      text-align: start;
    }
    p {
      font-weight: 300;
      font-size: 1.3rem;
      line-height: 1.5;
      position: relative;
      color: rgb(51, 51, 51);
      &::after {
        content: "";
        position: absolute;
        bottom: -1.8rem;
        left: 0.1rem;
        height: 0.2rem;
        width: 30%;
        background-color: rgb(63, 63, 63);
        border-radius: 4rem;
      }
    }
  }

  .bs-container2 {
    .accordion-item {
      outline: none !important;
      border: none;
      .accordion-header {
        border-bottom: 2px solid rgb(228, 224, 224) !important;
        border-radius: 5px;
        button {
          background-color: white !important;
          border: none !important;
          font-size: 3vh;
          font-weight: 500;
          color: #323232 !important;
          box-shadow: none;
          width: 98%;
          padding: 0 0rem 0.5rem 0rem;
        }
      }
    }
  }
  .bs-container {
    .bs-row1 {
      margin: 1rem;
      padding: 1rem;
    }
  }
  .bs-container2 {
    .bs-row1 {
      margin: 1rem 0;
      padding: 1rem 0;
    }
    .bs-row2 {
      margin: 1rem 0;
      padding: 1rem 0;
    }
  }
  .accordion-item {
    .accordion-body {
      text-align: start;
      border: none;
      outline: none;
      text-decoration: none;
      font-weight: 400;
      opacity: 0.85;
      font-size: 0.85rem !important;
      line-height: 1.5;
      font-family: "Poppins";
    }
    button {
      background-color: white !important;
      border: none !important;
      font-size: 3vh;
      font-weight: 500;
      color: #323232 !important;
      box-shadow: none;
      width: 98%;
      padding: 0 0rem 0.5rem 0rem;
      font-family: "Poppins";
      svg {
        margin-right: 0.5rem;
        width: 40px;
        height: 40px;
      }
    }
    > div {
      visibility: visible !important;
    }
  }
  .bs-container {
    margin-bottom: 4.5rem;
  }

  .bs-container3 {
    margin-bottom:-3rem;
    background-color: white;
    padding: 0 0rem !important;
    /* box-shadow: 0px 50px 10px -5px gray;/ */
    position: relative;
    border-radius: 0 0 30px 30px;
    z-index: 10;
    .buttonBox {
      display: flex;
      gap: 1rem;
      .first {
        background-color: rgb(0, 0, 0);
        color: white;
        border: 1px solid white;
        padding: 0.2rem 1.4rem;
        border-radius: 29px;
      }
    }
    h5 {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.5;
    }
    a {
      overflow: hidden;
      color: black;
      font-weight: 300;
      font-weight: 2vw;
      h3 {
        font-family: "Poppins";
        font-weight: 500;
      }

      img {
        width: 100%;
      }
    }
    .row {
      padding: 0 1.5rem;
    }
  }
}
