.case-studies-page {
  border-radius: 0px 0px 30px 30px;
  background-color: red;
  background-color: white;
  position: relative;
  z-index: 1;
  box-shadow: 0px 20px 20px -20px gray;
  margin-bottom: -3rem;
  .container {
    > .row {
      .col-12 {
        .header {
          span {
          }
          h1 {
            text-align: start;
            padding: 1rem 0 0;
            font-family: "Poppins";
            position: relative;
            text-transform: capitalize;
            margin-top: 5px;
            padding: 0;
            font-size: 2rem;
            font-weight: 700;
            position: relative;
            margin-bottom: 1rem;
          }
        }
        picture {
          img {
            width: 100%;
            border-radius: 15px;
          }
        }
        .project-overview {
          .row1 {
            margin: 2rem 0;
          }
          .overview{
            p{
              margin: 5px 0;
            }
          }
          .row2 {
            background-color: rgb(240, 240, 240);
            border-radius: 5px;
            .inner-div {
              padding: 1rem 1rem;
              h5 {
                font-weight: 700;
              }
            }
          }

          .challenges {
            margin-top: 2rem;

            .challenges-table {
              width: 100%;
              border-collapse: collapse;
              margin: 1rem 0;

              thead {
                tr {
                  background-color: #f8f8f8;

                  th {
                    padding: 0.75rem 1rem;
                    text-align: left;
                    font-weight: 600;
                    border-bottom: 2px solid #e0e0e0;
                  }
                }
              }

              tbody {
                tr {
                  border-bottom: 1px solid #e0e0e0;

                  &:hover {
                    background-color: #fafafa;
                  }

                  td {
                    padding: 0.75rem 1rem;
                    vertical-align: top;

                    &:first-child {
                      font-weight: 500;
                    }
                  }
                }
              }
            }

            .challenges-summary {
              margin-top: 1.5rem;
              padding: 1rem;
              background-color: #f8f8f8;
              border-radius: 5px;
              font-size: 0.95rem;
              line-height: 1.6;

              em {
                font-style: italic;
              }
            }
          }

          .result {
            margin: 1rem 0;

            .inner-div {
              .result-subtitle {
                font-style: italic;
                color: #555;
                margin-bottom: 1.5rem;
              }

              .results-table {
                width: 100%;
                border-collapse: collapse;
                margin: 1.5rem 0;

                thead {
                  tr {
                    background-color: #f8f8f8;

                    th {
                      padding: 0.75rem 1rem;
                      text-align: left;
                      font-weight: 600;
                      border-bottom: 2px solid #e0e0e0;
                    }
                  }
                }

                tbody {
                  tr {
                    border-bottom: 1px solid #e0e0e0;

                    &:hover {
                      background-color: #fafafa;
                    }

                    td {
                      padding: 0.75rem 1rem;
                      vertical-align: top;

                      &:first-child {
                        font-weight: 500;
                      }

                      &.change-cell {
                        .change-badge {
                          display: inline-block;
                          padding: 0.25rem 0.75rem;
                          background-color: #e8f5e9;
                          color: #2e7d32;
                          border-radius: 4px;
                          font-weight: 500;
                          font-size: 0.9rem;
                        }
                      }
                    }
                  }
                }
              }

              .result-summary {
                margin-top: 1.5rem;
                padding: 1rem 1.5rem;
                background-color: #f8f8f8;
                border-left: 4px solid #333;
                border-radius: 4px;

                p {
                  margin: 0.5rem 0;
                  font-weight: 500;
                  line-height: 1.6;

                  &:first-child {
                    margin-top: 0;
                  }

                  &:last-child {
                    margin-bottom: 0;
                  }
                }
              }
            }

            .image-div {
              display: flex;
              justify-content: space-start;
              align-items: center;
              overflow: hidden;
              gap: 1rem;
              margin-top: 2rem;
              img {
                width: 24%;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 720px) {
  .case-studies-page {
    border-radius: 0px 0px 30px 30px;
    background-color: red;
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 0px 20px 20px -20px gray;
    margin-bottom: -3rem;
    .container {
      > .row {
        .col-12 {
          .header {
            span {
            }
            h1 {
              /* text-align: start;
              padding: 1rem 0 0;
              font-family: "Poppins";
              position: relative;
              text-transform: capitalize;
              margin-top: 5px;
              padding: 0;
              font-size: 2rem;
              font-weight: 700;
              position: relative;
              margin-bottom: 1rem; */
            }
          }
          picture {
            img {
              /* width: 100%;
              border-radius: 15px; */
            }
          }
          .project-overview {
            .row1 {
              /* margin: 2rem 0; */
            }
            .row2 {
              /* background-color: rgb(240, 240, 240);
              border-radius: 5px; */
              .inner-div {
                padding: 1rem 1rem;
                h5 {
                  font-weight: 700;
                }
              }
            }

            .result {
              margin: 1rem 0;

              .inner-div {
                .result-subtitle {
                  font-size: 0.9rem;
                }

                .results-table {
                  display: block;
                  overflow-x: auto;
                  -webkit-overflow-scrolling: touch;

                  thead {
                    tr {
                      th {
                        padding: 0.5rem 0.75rem;
                        font-size: 0.85rem;
                        white-space: nowrap;
                      }
                    }
                  }

                  tbody {
                    tr {
                      td {
                        padding: 0.5rem 0.75rem;
                        font-size: 0.85rem;

                        &.change-cell {
                          .change-badge {
                            padding: 0.2rem 0.5rem;
                            font-size: 0.8rem;
                            white-space: nowrap;
                          }
                        }
                      }
                    }
                  }
                }

                .result-summary {
                  padding: 0.75rem 1rem;
                  font-size: 0.85rem;

                  p {
                    font-size: 0.85rem;
                  }
                }
              }

              .image-div {
                display: flex;
                justify-content: start;
                align-items: center;
                overflow: hidden;
                gap: 1rem;
                flex-direction: column;

                img {
                  width: 100%;
                  border-radius: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}
